.compact-form-item {
  margin-bottom: 10px !important;
}

.block-input {
  width: 100%;
}

.transaction-form {
  padding: 12px !important;
}

.submit-btn {
  margin-top: 20px;
}

.block-radio-btn {
  width: 50% !important;
  text-align:center;
}

.ant-radio-button-wrapper-checked.green {
  width: 50% !important;
  background: #52c41a !important;
  color: white !important;
  border-color: white !important;
}

.ant-radio-button-wrapper-checked.red {
  width: 50% !important;
  background: #fc264c !important;
  color: white !important;
  border-color: white !important;
}

.description-label {
  padding-bottom: 4px !important;
}