@import '~antd/dist/antd.css';

:root {
  --theme-color: white;
  /* bar-height refers to the height of header and footer of app */
  --bar-height: 54px;
  --header-height: var(--bar-height);
  --bottom-nav-height: var(--bar-height);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-shell {
  min-height: 100vh;
  overflow-x: hidden;
}

.ant-back-top {
  bottom: 64px !important;
}